<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.up.study">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <!-- Required -->
    <uses-permission android:name="com.up.study.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />


    <application
        android:name=".TApplication"
        android:allowBackup="true"
        android:icon="@mipmap/log"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--android:theme="@style/ThemeSplash"-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.login.GuidePageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartActivity"/>
        <activity android:name=".MainActivity" android:launchMode="singleTask" />
        <activity android:name=".ui.home.SearchResultActivity"/>
        <activity android:name=".ui.home.SearchActivity"/>
        <activity android:name=".ui.home.ErrorsInputActivity"/>
        <activity android:name=".ui.home.ErrorsInputActivity2"/>
        <activity android:name=".ui.home.TaskActivity"/>
        <activity android:name=".ui.home.StuTestActivity"/>
        <activity android:name=".ui.home.TaskTestErrorInputActivity"/>
        <activity android:name=".ui.home.TaskTestInputActivity"/>
        <activity android:name=".ui.home.TaskHomeWorkActivity"/>
        <activity android:name=".ui.home.TaskTestAnalysisActivity"/>
        <activity android:name=".ui.home.TaskErrorsInputActivity"/>
        <activity android:name=".ui.home.TaskTestResultActivity"/>
        <activity android:name=".ui.home.HomeworkActivity"/>
        <activity android:name=".ui.home.DoHomeworkActivity" android:launchMode="singleTask" />
        <activity android:name=".ui.home.AnswerSheetActivity"/>
        <activity android:name=".ui.home.HomeworkResultActivity"/>
        <activity android:name=".ui.home.MessageActivity"/>
        <activity android:name=".ui.home.MessageDetailActivity"/>
        <activity android:name=".ui.my.MyInfoActivity"/>
        <activity android:name=".ui.my.EditMyInfoActivity"/>
        <activity android:name=".ui.my.StudyStatusAnalysisActivity"/>
        <activity android:name=".ui.my.StudyStatusAnalysisErrorActivity"/>
        <activity android:name=".ui.my.MyTestActivity"/>
        <activity android:name=".ui.my.MyTestDetailActivity"/>
        <activity android:name=".ui.my.TestAnalysisActivity"/>
        <activity android:name=".ui.my.TeacherMesActivity"/>
        <activity android:name=".ui.my.ChatActivity"/>
        <activity android:name=".ui.my.SettingActivity"/>
        <activity android:name=".ui.my.OpinionActivity"/>
        <activity android:name=".ui.my.AboutActivity"/>
        <activity android:name=".ui.errors.ErrorsActivity"/>
        <activity
            android:launchMode="singleTask"
            android:name=".ui.errors.ErrorsClearActivity"/>
        <activity android:name=".ui.errors.SmartOrganizationActivity"/>
        <activity android:name=".ui.errors.ErrorsSameActivity1"/>
        <activity android:name=".ui.errors.ErrorsSameActivity"/>
        <activity android:name=".ui.errors.RemoveErrorsActivity"/>
        <activity android:name=".ui.errors.RemoveErrorsDetailActivity"/>
        <activity android:name=".ui.errors.CreateTestActivity"/>
        <activity android:name=".ui.errors.SmartOrganizationResultActivity"/>
        <activity android:name=".ui.errors.ZsdjxDetailActivity"/>
        <activity android:name=".ui.errors.ErrorDetailActivity"/>
        <activity android:name=".ui.login.LoginActivity"/>
        <activity android:name=".ui.login.RegisterActivity"/>
        <activity android:name=".ui.login.ForgetPswActivity"/>
        <activity android:name=".ui.login.UpdatePswActivity"/>
        <activity android:name=".weight.camera.TakePhotoActivity"/>
        <activity android:name=".weight.showimages.ImagePagerActivity" />
        <activity
            android:name=".weight.camera.ShowCropperedActivity"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
            />
        <activity
            android:name="com.up.study.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter >
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.up.study"/>
            </intent-filter>
        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <category android:name="com.up.study"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.up.study" />
            </intent-filter>
        </activity>
        <!-- SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.up.study" />
            </intent-filter>
        </activity>

        <!-- Required SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- Required since 3.0.7    当前下载的是3.0.3-->
        <!-- 新的tag/alias接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 该广播需要继承JPush提供的JPushMessageReceiver类, 并如下新增一个 Intent-Filter -->
        <!--<receiver
            android:name="自定义 Receiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.up.study" />
            </intent-filter>
        </receiver>-->

        <!-- User defined. 用户自定义的广播接收器-->
        <receiver
            android:name="com.up.study.jpush.MyReceiver"
            android:enabled="true">
            <intent-filter>
                <!--Required 用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!--Required 用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!--Required 用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!--Required 用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="com.up.study" />
            </intent-filter>
        </receiver>

        <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。-->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <!-- 目前这个渠道统计功能的报表还未开放。-->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <!-- Required. AppKey copied from Portal -->
        <meta-data android:name="JPUSH_APPKEY" android:value="f448603fb4a26ce9d303fc6e"/>

    </application>

</manifest>